html { 
  height: 100%; 
  width: 100%;
}

body {
  margin: 0px !important;
  height: inherit;
  width: inherit;
}

h1, h2, h3, h4, p {
  color: #000000;
}

h1 {
  font-size: 54px;
  font-family: sans-serif;
  padding-bottom: 0px;
}

h2 {
  font-size: 84px;
  font-weight: 200;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 50px;
  font-weight: 100px;
  font-family: 'PT Sans', sans-serif;
}

p {
  font-size: 28px;
}
